@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Poppins", "Arial";
  color: #121127;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 2em;
}

article > * + * {
  margin-top: 1em;
}

button {
  cursor: pointer;
}

input::placeholder {
  color: #000;
  font-size: 14px;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
}
